<div>
  <div>
    <input
      type="text"
      placeholder="Enter 1st No"
      class="firstNo"
      [(ngModel)]="firstNo"
    >
    <select [(ngModel)]="operation" class="operation">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="*">*</option>
    </select>
    <input
      type="text"
      placeholder="Enter 2nd No"
      class="secondNo"
      [(ngModel)]="secondNo"
    >
  </div>
  <div>
    <button (click)="onCalculate()" class="calculate">Calculate</button>
  </div>
  <div>
    <input
      type="text"
      placeholder="The Ans"
      readonly
      class="ans"
      [value]="ans"
    >
  </div>
</div>