<div>
  <h2>Calculator app</h2>
  <div>
    <input
      type="text"
      placeholder="Enter 1st No"
      [(ngModel)]="firstNo"
    >
    <select [(ngModel)]="operation">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="*">*</option>
    </select>
    <input
      type="text"
      placeholder="Enter 2nd No"
      [(ngModel)]="secondNo"
    >
  </div>
  <div>
    <button (click)="onCalculate()">Calculate</button>
  </div>
  <div>
    <input
      type="text"
      placeholder="The Ans"
      readonly
      [value]="ans"
    >
  </div>
  <div>
    <p>The first number entered by you: {{ firstNo }}</p>
    <p>The operation selected by you: {{ operation }}</p>
    <p>The second number entered by you: {{ secondNo }}</p>
    <p>The ans of the above operation: {{ ans }}</p>
  </div>
</div>